@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --dark-gray: hsl(0, 0%, 27%);
  --light-gray: hsl(0, 0%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  letter-spacing: -0.33px;
  line-height: 22px;
  font-weight: 500;
}

#darken {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0;
  transition: visibility 300ms, opacity 300ms ease;
}

header {
  background: url("./images/mobile-image-hero-1.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 360px;
  padding-top: 3rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1rem;
}

#open-menu,
#close-menu {
  background: none;
  border: none;
  height: 14px;
}

#close-menu {}

#open-menu:hover,
#close-menu:hover {
  cursor: pointer;
  opacity: 0.75;
}

#open-menu {}

.logo {
  margin-inline: auto;
}

nav {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 110px;
  z-index: 2;
  transition: visibility 300ms, opacity 300ms ease;
}

nav ul {
  list-style: none outside none;
  text-transform: lowercase;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: .25rem;
}

nav a:hover {
  cursor: pointer;
}

nav a:hover:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -1px;
  left: 25%;
  border-bottom: 3px solid black;
}

.btn-box-mobile {
  align-self: flex-end;
}

.btn-box-desktop {
  display: none;
}

.btn-box button {
  border: none;
  background-color: black;
}

.btn-box-mobile button {
  width: 56px;
  height: 56px;
}

.btn-box-desktop button {
  width: 80px;
  height: 80px;
}

.btn-box button:hover {
  cursor: pointer;
  background-color: var(--dark-gray);
}

.btn-box button:active {
  background-color: var(--light-gray);
}



h1 {
  font-size: clamp(40px, 5vw, 48px);
  letter-spacing: -1.67px;
  font-weight: 600;
  line-height: 37px;
}

h2 {
  font-size: clamp(14px, 2vw, 16px);
  letter-spacing: -1.67px;
  letter-spacing: 5.83px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-area-padding {
  padding: 4rem 2rem;
}

#info-section p,
#about-section p {
  margin: 1rem 0 2rem 0;
}

#info-text-2 {
  display: none;
}

#info-text-3 {
  display: none;
}

.shop-now {
  font-size: 15;
  font-weight: 600;
  letter-spacing: 12.5px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.shop-now:hover {
  opacity: 0.5;
}

p {
  color: #a0a0a0;
}

.about-img {
  width: 100%;
}

/* attribution  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 450px) {
  header {
    background: url("./images/desktop-image-hero-1.jpg") no-repeat;
    background-size: cover;
    background-position: top;
  }
}

@media (min-width: 1000px) {
  #darken {
    display: none;
  }

  #open-menu,
  #close-menu {
    display: none;
  }

  .top-container {
    display: flex;
    width: 100%;
  }

  header {
    width: 60%;
    gap: 2rem;
  }

  .logo {
    margin-top: .45rem;
  }

  nav {
    visibility: visible;
    position: static;
    background-color: transparent;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
  }

  nav a:hover:before {
    border-color: white;
  }

  #info-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  #info-section .text-area-padding {
    padding: 5rem 5rem 5rem 5rem;
    justify-self: center;
  }

  .btn-box-mobile {
    display: none;
  }

  .btn-box-desktop {
    display: inline;
    align-self: flex-start;
  }

  #about-section {
    display: flex;
    justify-content: space-between;
  }

  #about-section .text-area-padding {
    padding: 4rem;
    width: 40%;
  }

  .about-img {
    max-width: 30%;
    object-fit: cover;
    object-position: bottom;
  }
}