@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --dark-gray: hsl(0, 0%, 27%);
  --light-gray: hsl(0, 0%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  letter-spacing: -0.33px;
  line-height: 22px;
  font-weight: 500;
}

#darken {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

header {
  background: url("./images/mobile-image-hero-1.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 360px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

#open-menu,
#close-menu {
  background: none;
  border: none;
  height: 14px;
}

#open-menu:hover,
#close-menu:hover {
  cursor: pointer;
  opacity: 0.75;
}

#open-menu {
  margin: 2.5em 0 0 3em;
}

.logo {
  margin: 2em auto 0 auto;
}

.btn-box {
  position: absolute;
  right: 0;
  top: 304px;
}

.btn-box button {
  border: none;
  width: 56px;
  height: 56px;
  background-color: black;
}

.btn-box button:hover {
  cursor: pointer;
  background-color: var(--dark-gray);
}

.btn-box button:active {
  background-color: var(--light-gray);
}

ul {
  list-style: none outside none;
  text-transform: lowercase;
  display: flex;
  justify-content: flex-start;
  gap: 2em;
}

nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 110px;
  z-index: 2;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a:hover {
  cursor: pointer;
}

nav a:hover:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -5px;
  left: 25%;
  border-bottom: 2px solid black;
}

h1 {
  font-size: clamp(40px, 5vw, 48px);
  letter-spacing: -1.67px;
  font-weight: 600;
  line-height: 37px;
}

h2 {
  font-size: clamp(14px, 2vw, 16px);
  letter-spacing: -1.67px;
  letter-spacing: 5.83px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-area-padding {
  padding: 4em 2em;
}

#info-section p,
#about-section p {
  margin: 1em 0 2em 0;
}

#info-text-2 {
  display: none;
}

#info-text-3 {
  display: none;
}

.shop-now {
  font-size: 15;
  font-weight: 600;
  letter-spacing: 12.5px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.shop-now:hover {
  opacity: 0.5;
}

p {
  color: #a0a0a0;
}

.about-img {
  width: 100%;
}

/* attribution  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 400px) {
  header {
    background: url("./images/desktop-image-hero-1.jpg") no-repeat;
    background-size: cover;
    background-position: top;
  }
}

@media (min-width: 1000px) {

  #open-menu,
  #close-menu {
    display: none;
  }

  .top-container {
    display: flex;
  }

  header {}

  #about-section {
    display: flex;
  }

  .about-img {
    width: 420px;
    height: 266px;
  }
}